/* Reset default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FDF6E3;
  align-items: stretch;
}

header hr {
  color: #17202A;
  width: 100%;
}

header {
  letter-spacing: 6px;
  font-family: 'Cutive Mono', monospace;
  font-size: 2vw;
  font-weight: lighter;
  background-color: #17202A;
  color: #C0C0C0;
  text-align: center;
  padding: 6vw 0;
  line-height: 1.5;
  position: relative;
}



.get-started-button {
  position: absolute;
  top: 100%;
  /* Position the button below the header text */
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 12px 24px;
  background-color: #3f7beb;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;


  /* Responsive styles */
  @media (max-width: 768px) {
    /* Adjust button size for smaller screens */
    padding: 8px 12px;
    font-size: 16px;
  }

  @media (max-width: 480px) {
    /* Adjust button size and position for even smaller screens */
    padding: 4px 10px;
    font-size: 12px;
    
  }
  
}

.get-started-button:hover {
  background-color: #2474d8;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px; /* Set the desired width */
  height: 25px; /* Set the desired height */
  background-image: url('./bliss.png');
  background-size: cover;
  transition: transform 0.3s ease;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Adjust logo size for smaller screens */
  .logo {
    width: 40px;
    height: 16px;
    top: 12px;
    left: 12px;
  }
}

@media (max-width: 480px) {
  /* Further adjust logo size for even smaller screens */
  .logo {
    width: 30px;
    height: 12px;
    top: 10px;
    left: 10px;
  }
}


.logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-part {

  height: 3000px;
  width: 100%;
  position: relative;

}

.image-back {
  height: 300px;
  width: 300px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 30px;
  /* Adjust the top value to move the image vertically */
  right: 60px;
  /* Adjust the left value to move the image horizontally */
  z-index: 1;


}
.image-container {
  /*position: relative; /* Change the positioning to relative */
  top: 45px;
  /* Adjust the top value to move the image vertically */
  left: 920px;
  /* Adjust the left value to move the image horizontally */
  width: 300px;
  height: 380px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: absolute;
  background-image: url('./exercise.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  
}

.image-back1 {
  height: 300px;
  width: 300px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 30px;
  /* Adjust the top value to move the image vertically */
  left: 300px;
  /* Adjust the left value to move the image horizontally */
  z-index: 1;
}

.image-container1 {
  /*position: relative; /* Change the positioning to relative */
  top: 2.5%;
  /* Adjust the top value to move the image vertically */
  left: 10%;
  /* Adjust the left value to move the image horizontally */
  width: 600px;
  height: 450px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: absolute;
  background-image: url('./exercise.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}



footer {
  background-color: #17202A;
  color: #3f7beb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-shrink: 0;
  margin-top: auto;
}


footer p {
  font-size: 10px;
}

.contact-details {
  margin-top: 15px;
  text-decoration: none;
}

.contact-details h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-details ul {
  list-style: none;
  padding: 0;
}

.contact-details ul li {
  margin-bottom: 5px;
}

.contact-details ul li strong {
  color: #fff;
  font-weight: bold;
}

.social-links a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
}