/* Reset default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FDF6E3;
  align-items: stretch;
}

header {
  width: 100%;
  letter-spacing: 6px;
  font-family: 'Cutive Mono', monospace;
  font-size: 2vw;
  font-weight: lighter;
  background-color: #17202A;
  color: #C0C0C0;
  text-align: center;
  padding: 6vw 0;
  line-height: 1.5;
  position: relative;
  margin-bottom: 15px;
}

.get-started-button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 12px 24px;
  background-color: #3f7beb;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #2474d8;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 25px;
  background-image: url('./bliss.png');
  background-size: cover;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-part {
  height: 3000px;
  width: 100%;
  position: relative;
}

.image-back {
  height: 700px;
  width: 240px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 30px;
  right: 8%;
  z-index: 1;
}

.image-container {
  top: 2.5%;
  left: 920px;
  width: 300px;
  height: 380px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: absolute;
  background-image: url('./aroma.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.image-back1 {
  height: 300px;
  width: 300px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: 1;
}

.image-container1 {
  top: 3.2%;
  left: 10%;
  width: 600px;
  height: 450px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: absolute;
  background-image: url('./meditation.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}



.image-container2{
  top: 480px;
  left: 920px;
  width: 300px;
  height: 380px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: absolute;
  background-image: url('./exercise.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.ruler{
  margin-top: 50%;
  color: #17202A;
}

.text-back {
  height: 150px;
  width: 100px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 19%;
  left: 21%;
  z-index: 1;
}



.text-container {
  font-family: 'Cutive Mono', monospace;
  height: 200px;
  width: 250px;
  background-color: #3f7beb;
  border: #17202A;
  position: absolute;
  top: 20%;
  left: 14.5%;
  color : #FFFFFF;
  font-size: 1.8vw;
  padding: 10px; 
  z-index: 2;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
}

/*.text-back1 {
  height: 150px;
  width: 100px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 1;
}*/



/*.text-container1 {
  font-family: 'Cutive Mono', monospace;
  height: 200px;
  width: 200px;
  background-color: #3f7beb;
  border: #17202A;
  position: absolute;
  top: 21%;
  left: 30%;
  color : #FFFFFF;
  font-size: 1.65vw;
  padding: 10px; 
  z-index: 2;
}*/





footer {
  background-color: #17202A;
  color: #3f7beb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-shrink: 0;
  margin-top: auto;
}

footer p {
  font-size: 10px;
}

.contact-details {
  margin-top: 15px;
  text-decoration: none;
}

.contact-details h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-details ul {
  list-style: none;
  padding: 0;
}

.contact-details ul li {
  margin-bottom: 5px;
}

.contact-details ul li strong {
  color: #fff;
  font-weight: bold;
}

.social-links a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  header {
    font-size: 2vw;

  }

  .get-started-button {
    padding: 8px 12px;
    font-size: 16px;
  }

  .logo {
    width: 40px;
    height: 16px;
    top: 12px;
    left: 12px;
  }

  .image-container {
    left: 10px;
  }

  .image-container1 {
    top: 5%;
    left: 5%;
    width: 90%;
    height: auto;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 2vw;
    padding: 8vw 0;
  }

  .get-started-button {
    padding: 4px 10px;
    font-size: 12px;
  }

  .logo {
    width: 30px;
    height: 12px;
    top: 10px;
    left: 10px;
  }

  .image-container {
    left: 10px;
  }

  .image-container1 {
    top: 5%;
    left: 5%;
    width: 90%;
    height: auto;
    display: none;
  }
}
