/* Reset default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FDF6E3;
  align-items: stretch;
}

header {
  width: 100%;
  letter-spacing: 6px;
  font-family: 'Cutive Mono', monospace;
  font-size: 2vw;
  font-weight: lighter;
  background-color: #17202A;
  color: #C0C0C0;
  text-align: center;
  padding: 6vw 0;
  line-height: 1.5;
  position: relative;
  margin-bottom: 15px;
  transition: color 2s ease;
}

header h2:hover {
  color: #eeeeee

}

.get-started-button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 12px 24px;
  background-color: #3f7beb;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #2474d8;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 25px;
  background-image: url('./bliss.png');
  background-size: cover;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-part {
  height: 3000px;
  width: 100%;
  position: relative;
}

.image-back {
  height: 700px;
  width: 240px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 2.7%;
  right: 8%;
  z-index: 1;
}

@keyframes dropIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.image-container{
  opacity: 0;
  animation: dropIn 1.5s ease-in-out forwards;
}

.image-container {
  top: 3.5%;
  left: 920px;
  width: 300px;
  height: 380px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: absolute;
  background-image: url('./aroma.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.image-back1 {
  height: 300px;
  width: 300px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 2.67%;
  left: 300px;
  z-index: 1;
}

.image-container1 {
  top: 4.2%;
  left: 10%;
  width: 600px;
  height: 450px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: absolute;
  background-image: url('./meditation.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0;
  animation: dropIn 1.5s ease-in-out forwards;
}



.image-container2 {
  top: 17%;
  left: 920px;
  width: 300px;
  height: 380px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: absolute;
  background-image: url('./exercise.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0;
  animation: dropIn 1.5s ease-in-out forwards;
}



.text-back {
  height: 6%;
  width: 100px;
  background-color: #008080;
  border: #17202A;
  position: absolute;
  top: 24%;
  left: 21%;
  z-index: 1;
}



.text-container {
  font-family: 'Cutive Mono', monospace;
  height: 200px;
  width: 250px;
  background-color: #3f7beb;
  border: #17202A;
  position: absolute;
  top: 25%;
  left: 14%;
  color: #FFFFFF;
  font-size: 1.8vw;
  padding: 10px;
  z-index: 2;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
}


.illus-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 6%;
  width: 100%;
}







.illus-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 90%;
  background-color: rgba(0, 128, 128, 0.5);
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.illus-back:hover {
  background-color: rgba(0, 128, 128);
}






.illus {
  width: 100px;
  height: 100px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #3f7beb;
  margin-right: 20px;
}

.illus1 {
  margin-left: 10%;
  background-image: url("./dumbbells.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.illus2 {
  background-image: url("./headphone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.illus3 {
  margin-right: 10%;
  background-image: url("./rasberry.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.calcu-text-box-back {
  display: flex;
  justify-content: center;

  align-items: center;

  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
  height: 12%;
  width: 100%;
}

.calcu-text-border {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 90%;
  width: 90%;
  border: 1px solid #969696;
  color: #FFFFFF;
  border-radius: 10px;


}

.calcu-box-back {

  height: 16%;
  width: 10%;
  background-color: #008080;

  position: absolute;

  z-index: 1;
}

.box1 {
  top: 1.7%;
  left: 8%;
}

.box2 {
  top: 1.7%;
  left: 36.5%;
}

.calcu-text-box {
  position: absolute;
  width: 20%;
  height: 65%;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.8vw;
  padding: 20px;
  background-color: #3f7beb;
  top: 12%;
  left: 2%;
  z-index: 2;
  border: #17202A;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
}

.calculator-container {
  top: 12%;
  left: 30%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 20%;
  height: 65%;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.8vw;
  background-color: #3f7beb;
  z-index: 2;
  border: #17202A;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.2);
}

.bmi-calculator {
  text-align: center;
}

button {
  margin-top: 2.5%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#result {
  font-size: 1.5vw;
}

.product-box-back {
  display: flex;
  justify-content: center;

  align-items: center;

  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  height: 40%;
  width: 100%;
}

.product-box {
  justify-content: center;

  position: relative;
  height: 90%;
  width: 90%;
  border: 1px solid #969696;
  color: #FFFFFF;
  border-radius: 10px;
  display: flex;

}



.product-heading {
  top: 2%;
  left: 3.5%;
  font-family: 'Cutive Mono', monospace;
  height: 3.5%;
  width: 32%;
  border: #17202A;
  position: absolute;
  /* Update this line to 'sticky' */
  color: #FFFFFF;
  font-size: 1.8vw;
  padding: 10px;
  background-color: #008080;
  margin-bottom: 10px;
}

.all-product-border {
  top: 5%;
  left: 2%;
  font-family: 'Cutive Mono', monospace;
  height: 85%;
  width: 95%;
  border: #17202A;
  position: absolute;
  font-size: 1.8vw;
  padding: 10px;
  background-color: transparent;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}



.product {
  width: calc(25% - 20px);
  /* Adjust the width and margin as needed */
  height: 28%;
  background-color: lightgray;
  margin: 20px 10px 0px 10px;
  transition: transform 0.3s ease;
  z-index: 2;
  position: relative;
}

.product:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}


.product-title {
  background-color: #c0c0c093;
  position: absolute;
  bottom: 0;
  width: 100%;
  ;
}

.p1 {
  background-image: url(./breathework.webp);
  background-size: cover;
  background-repeat: no-repeat;

}


.p2 {
  background-image: url(./Sound\ Healing.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p3 {
  background-image: url(./Wellness\ Workshops\ and\ Retreats2.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p4 {
  background-image: url(./Art\ Therapy.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p5 {
  background-image: url(./Mindfulness\ based\ Stress\ Reduction\ \(YOGA\).webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p6 {
  background-image: url(./Pilates.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p7 {
  background-image: url(./Mental\ Health\ Counseling.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p8 {
  background-image: url(./Aroma\ Therapy.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p9 {
  background-image: url(./Nutrition\ Coaching.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p10 {
  background-image: url(./Stress\ Management.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.p11 {
  background-image: url(./Nature\ Therapy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.p12 {
  background-image: url(./Tai\ Chi.webp);
  background-size: cover;
  background-repeat: no-repeat;
}


footer {
  background-color: #17202A;
  color: #3f7beb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-shrink: 0;
  margin-top: auto;
}

footer p {
  font-size: 10px;
}

footer p {
  font-size: 10px;
  font-family: 'Cutive Mono', monospace;
  color: #fff;
}

footer ul li a {
  text-decoration: none;
  color: #fff; /* Set the link color to white */
}

.contact-details {
  margin-top: 15px;
}

.contact-details h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-details ul {
  list-style: none;
  padding: 0;

}

.contact-details ul li {
  margin-bottom: 5px;
}

.contact-details ul li {
  color: #fff;
  font-weight: bold;
}

.text{
  font-family: 'Cutive Mono', monospace;
}

.skillx23 {
  background-color: #f0f0f0;
  width: 100px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease;
  z-index: 2;
}

.skillx23:hover {
  transform: scale(1.5, 1.1);
}

.expand {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.skillx23:hover .expand {
  display: block;
}



/* Responsive styles */
@media (max-width: 768px) {
  header {
    font-size: 2vw;

  }

  .get-started-button {
    padding: 8px 12px;
    font-size: 16px;
  }

  .logo {
    width: 40px;
    height: 16px;
    top: 12px;
    left: 12px;
  }

  .image-container {
    left: 10px;
  }

  .image-container1 {
    top: 5%;
    left: 5%;
    width: 90%;
    height: auto;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 2vw;
    padding: 8vw 0;
  }

  .get-started-button {
    padding: 4px 10px;
    font-size: 12px;
  }

  .logo {
    width: 30px;
    height: 12px;
    top: 10px;
    left: 10px;
  }

  .image-container {
    left: 10px;
  }

  .image-container1 {
    top: 5%;
    left: 5%;
    width: 90%;
    height: auto;
    display: none;
  }
}